@import './reset-style.css';
@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general */
body {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Poppins", "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #000000;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}


/* pages */
.page {
  position: absolute;
  top: 55px;
  padding: 10px;
  z-index: -100;
}


/* title bar */
.title_bar {
  position: fixed;
  padding: 15px;
  width: calc(100vw - 30px);
  height: 25px;
  background-color: #1f1f1f;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
  z-index: -10;
}

.title_bar p {
  margin-top: 1px;
  margin-left: 5px;
  font-size: 20px;
  line-height: 1;
}

.title_bar a {
  text-decoration: none;
  color: #ffffff;
}


/* hamburger button */
.hamburger_btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 55px;
  cursor: pointer;
  z-index: -10;
}

.hamburger_btn .line {
  position: absolute;
  top: 0;
  right: 25px;
  width: 28px;
  height: 2px;
  background: #999999;
  text-align: center;
  transition: 0.4s ease;
}

.hamburger_btn .line_01 {
  top: 16px;
}

.hamburger_btn .line_02 {
  top: 26px;
  height: 2.5px;
}

.hamburger_btn .line_03 {
  top: 36px;
}

/* hamburger button -transform */
.btn_line01 {
  transform: translateY(10px) rotate(-45deg)
}

.btn_line02 {
  opacity: 0;
}

.btn_line03 {
  transform: translateY(-10px) rotate(45deg);
}


/* side menu */
.menu {
  background-color: #1f1f1f;
  z-index: 30;
  padding: 50px 5px 5px 5px;
  position: fixed;
  width: 10rem;
  height: 100vh;
  top: 0;
  right: 0;
  font-weight: 500;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: -20;
}

.menu.open {
  transform: translateX(0);
}

.menu li {
  list-style: none;
  line-height: 1;
  padding: 1rem;
}

.menu a {
  color: #999999;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.4s ease;
}

.menu a:hover {
  color: #dddddd;
}

.menu ul {
  margin: 1rem;
  padding: 0;
}

.menu hr {
  border-color: #999999;
  border-width: 1.5px;
  margin-top: 6px;
  margin-bottom: 6px;
}


/* iframe in player */
.container iframe {
  width: 10vw;
  max-width: 60px;
  height: 10vw;
  max-height: 60px;
  aspect-ratio: 1/1;
}

.fscontainer iframe {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  max-width: 500px;
  height: 100%;
  aspect-ratio: 1/1;
}